# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

venv/
env/
ENV/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Dataset Files
# =========================

data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Trained Models
# =========================

models/*.pth
models/*.pt
models/*.pkl

# Keep folder
!models/.gitkeep

# =========================
# Generated Outputs
# =========================

outputs/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.csv
outputs/*.txt

# Keep folder
!outputs/.gitkeep

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Logs
# =========================

*.log

# =========================
# PyTorch Geometric
# =========================

graph_data.pt

# =========================
# Streamlit Cache
# =========================

.streamlit/secrets.toml